{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}

	<div>
		<p class="p-3 text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue sem ac neque elementum, ac tristique
			felis laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra, magna ac dapibus
			dictum, arcu neque sollicitudin dolor, et ultricies magna lectus sit amet lectus. Donec nec turpis lacinia,
			egestas mi vel, sagittis dui. Maecenas interdum ante nunc. Morbi ut quam sit amet ipsum pretium eleifend at
			at dolor. In pulvinar, dolor eget egestas tincidunt, nulla magna ullamcorper elit, id consectetur quam neque
			sed dolor.
		</p>
		<div class="d-lg-flex">
			<div class="d-flex justify-content-center align-items-center">
				<img src="img/Hotel accueil et hotel 4.jpg" alt="" class="img-accueil">
			</div>
			<div class="d-flex flex-column justify-content-around">
				<p class="p-3 text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue sem ac neque elementum, ac
					tristique felis laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra,
					magna ac dapibus dictum, arcu neque sollicitudin dolor, et ultricies magna lectus sit amet lectus. Donec nec
					turpis lacinia, egestas mi vel, sagittis dui. Maecenas interdum ante nunc. Morbi ut quam sit amet ipsum
					pretium eleifend at at dolor. In pulvinar, dolor eget egestas tincidunt, nulla magna ullamcorper elit, id
					consectetur quam neque sed dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
					ac turpis egestas. Quisque eget feugiat tortor. Praesent condimentum ut risus at tincidunt. Maecenas at
					tincidunt turpis. Morbi vitae quam a nulla pretium rutrum.
				</p>
				<form action="{{ path('app_hotel_catalogue_index') }}" class="align-self-center">
					<button type="submit" class="button">Voir les établissements</button>
				</form>
			</div>
		</div>
		<div class="d-lg-flex">
			<div class="d-flex justify-content-center align-items-center">
				<img src="img/chambre galerie 4 et accueil.jpg" alt="" class="img-accueil">
			</div>
			<div class="d-flex flex-column justify-content-around">
				<p class="p-3 text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue sem ac neque elementum, ac
					tristique felis laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra,
					magna ac dapibus dictum, arcu neque sollicitudin dolor, et ultricies magna lectus sit amet lectus. Donec nec
					turpis lacinia, egestas mi vel, sagittis dui. Maecenas interdum ante nunc. Morbi ut quam sit amet ipsum
					pretium eleifend at at dolor. In pulvinar, dolor eget egestas tincidunt, nulla magna ullamcorper elit, id
					consectetur quam neque sed dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
					ac turpis egestas. Quisque eget feugiat tortor. Praesent condimentum ut risus at tincidunt. Maecenas at
					tincidunt turpis. Morbi vitae quam a nulla pretium rutrum.
				</p>
				<form action="{{ path('app_reservation') }}" class="align-self-center">
					<button type="submit" class="button">Réserver une chambre</button>
				</form>
			</div>
		</div>
		<div class="d-lg-flex">
			<div class="d-flex justify-content-center align-items-center">
				<img src="img/accueil contactez nous.jpg" alt="" class="img-accueil">
			</div>
			<div class="d-flex flex-column justify-content-around pb-3">
				<p class="p-3 text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue sem ac neque elementum, ac tristique
					felis laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra, magna ac dapibus
					dictum, arcu neque sollicitudin dolor, et ultricies magna lectus sit amet lectus. Donec nec turpis lacinia,
					egestas mi vel, sagittis dui. Maecenas interdum ante nunc. Morbi ut quam sit amet ipsum pretium eleifend at at
					dolor. In pulvinar, dolor eget egestas tincidunt, nulla magna ullamcorper elit, id consectetur quam neque sed
					dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque
					eget feugiat tortor. Praesent condimentum ut risus at tincidunt. Maecenas at tincidunt turpis. Morbi vitae
					quam a nulla pretium rutrum.
				</p>
				<form action="{{ path('app_contact') }}" class="align-self-center">
					<button type="submit" class="button">Contactez nous</button>
				</form>
			</div>
		</div>
	</div>
</div>{% endblock %}
